.no-padd{padding: 0;}
.play1 p {color: #0B0B61; font-size: 1.4vw; text-align: center;}
.back-img figure{padding: 5%;}
.back-img figure img{display: block; margin: auto; vertical-align: middle;}
.title-barra-verde{display: block; text-align: center; color:#FFFFFF;}
.lista-barra-verde{margin: 1% 0; display: block; vertical-align: middle;}
.lista-barra-verde li{list-style: none;}
.lista-barra-verde li a{color:#FFFFFF; font-size: 1.35em;}
.separador-bv{ background: url('../img/lic_ing_separador.png')0 center no-repeat;
     min-height: 150px; height: 100%; margin: 4% 0; padding: 3% 0;
}
.images-header img{margin-left: -15px;}
.play a{color: #428BCA;}
.legal2 a{color: #428BCA;}
.texto-desc{float:right;}
.h1-text-desc{ padding-top: 3%; font-family: Josefin-Regular; color: #0B0B61; font-weight: bold;}
.h1-fx-tdesc{font-size: 2.5em;}
.h1-fx-desc{font-size: 2.7vw;}
.p-text-desc{font-family: Josefin-Regular; font-size: 1.55vw; color: #0080FF; font-weight: bold;}
.form input, #envia1{font-size: 1.3em !important;}

@media screen and (min-width: 1200px){
.play {min-height: 90px;}
ul.f-tam{padding: 14% 0 14% 10%}
.h1-text-desc{font-size: 4vw;}
.back-img .ffig-tp{padding: 15% 3% 3% 3%;}
ul.f-tam2 {padding: 9% 0px 9% 10%;}
.back-img .ffig-tp2 {padding: 9% 3% 3% 3%;}
.bg-becas{background-position: -15% 0 !important;}
.col-lg-25{width: 20%;}
}
@media screen and (min-width:993px) and (max-width: 1200px){
	.play {margin-top: 5%; min-height: 90px;}
	.bg-img{background-size: 42% !important;}
    h2.title-barra-verde{font-size: 1.35em !important;}
    ul.f-tam{padding: 14% 0 14% 10%}
    ul.f-tam2 {padding: 9% 0px 9% 10%;}
    .back-img .ffig-tp2 {padding: 13% 3% 3% 3%;}
    .back-img .ffig-tp {padding: 15% 3% 3% 3%;}
    .h1-fx-desc {font-size: 2.7vw;}
    .h1-text-desc{font-size: 3.8vw;}
}
@media screen and (max-width: 992px) and (min-width:769px){
	.play1 p {font-size: 2vw;}
	header .logo { top: -2px;}
    div.f-mt{margin-top: -3%;}
    .h1-fx-desc { font-size: 4.7vw;}
    .p-text-desc {font-size: 3.1vw;}
    .back-img figure {padding: 10% 5% 5%;}
    .back-img figure img{ max-width: 150px;}
}
@media screen and (width: 768px){.back-img figure {width: 100%;} .play1 p {font-size: 2.2vw !important;} }
@media screen and (max-width: 768px){
	.title-barra-verde { color: #FFF; text-align: center; display: inline-block;}
	.separador-bv{margin: 0 0 5% 19%;padding: 3% 0;}
	.lista-barra-verde li {text-indent: -10px;}
    .dos-col .lista-barra-verde li {text-indent: -10px; margin-bottom: 0;}
    .dos-col{margin: -1px 0 -1% 10%; padding: 0;}
	.lista-barra-verde li a{font-size: 1.2em;}
	.play1 p {font-size: 2.6vw;}
	.mapa{display: none;}
	.bg-img{background-size: 42% !important;}
    .h1-fx-desc {font-size: 5.7vw !important;}
    .p-text-desc{font-size:1.5em;}
    .images-header img {max-width: 120%;}
    .back-img figure img{ max-width: 20%; display: inline-block;}

}
@media screen and (max-width: 480px){
	.play1 p {font-size: 3vw;}
    .separador-bv { margin: 0 0 5% 23%; padding: 4% 0;}
	.lista-barra-verde li {text-indent: -5%;}
	.lista-barra-verde li a {font-size: 1em;}
    .texto-desc .play {width: 100%; margin-left: 0;}
    .p-text-desc{font-size:1.1em;}
    .images-header img {margin-bottom: 10%; max-width: 120%;}

}
/* Reset */
.images-header{background: none;}
.col-lg-25{float: left; position: relative; min-height: 1px;padding-left: 15px;padding-right: 15px;}
.col-md-25{float: left; position: relative; min-height: 1px;padding-left: 15px;padding-right: 15px;}
@media screen and (width: 992px){
    h2{font-size: 26px;}
	.content-2section.col-lg-6.col-md-6.col-sm-11.col-xs-12 { width: 25%;}
}
