
@font-face {
	font-family: 'Josefin-Regular';
	src: url('fonts/JosefinSans-Regular.eot');
	src: local('☺'), url('fonts/JosefinSans-Regular.woff') format('woff'), url('fonts/JosefinSans-Regular.ttf') format('truetype'), url('fonts/JosefinSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin-SemiBold';
	src: url('fonts/JosefinSans-SemiBold.eot');
	src: local('☺'), url('fonts/JosefinSans-SemiBold.woff') format('woff'), url('fonts/JosefinSans-SemiBold.ttf') format('truetype'), url('fonts/JosefinSans-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('fonts/Roboto-Light.eot');
	src: local('☺'), url('fonts/Roboto-Light.woff') format('woff'), url('fonts/Roboto-Light.ttf') format('truetype'), url('fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('fonts/Roboto-LightItalic.eot');
	src: local('☺'), url('fonts/Roboto-LightItalic.woff') format('woff'), url('fonts/Roboto-LightItalic.ttf') format('truetype'), url('fonts/Roboto-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Roboto-Regular';
	src: url('fonts/Roboto-Regular.eot');
	src: local('☺'), url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Effra';
	src: url('fonts/Effra.eot');
	src: local('☺'), url('fonts/Effra.woff') format('woff'), url('fonts/Effra.ttf') format('truetype'), url('fonts/Effra.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Effra_Bold';
	src: url('fonts/Effra Bold.eot');
	src: local('☺'), url('fonts/Effra_Bold.woff') format('woff'), url('fonts/Effra_Bold.ttf') format('truetype'), url('fonts/Effra_Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

