@import "font.css"
azul=#061f5c
body
  font-size 0 !important

footer
  background-color #525151  

  .nets
    padding 30px 0  0 0 

    img
      display inline-block
      margin-right 5px

    p
      font-size 30px
      display inline-block
      vertical-align top
      padding-left 20px
                  
      a
        color #ffffff

        &:hover
          text-decoration none


header
  width 100%
  height 290px
  background-repeat no-repeat

  .logo
    height 100%
    padding-left 0

    img
      position relative
      top 15px  
  .video
    height 100%

    iframe
      max-height 330px

  .description
    left 138px
    position absolute 
    top 105px
    width 700px
    
    h1
      color #192859
      font-family 'Effra_Bold',Sans-Serif
      font-size 40px
      line-height 50px
      text-transform uppercase

    p
      color #ffffff     
      font-family 'Effra',Sans-Serif
      font-size 38px
      padding 0px 50px 0 0
      text-shadow 3px 3px 2px rgba(0, 0, 0, 0.8)

  .link
    display none    
        
section 
  display inline-block  
  max-width 1280px
  width 100%    
  padding-left 6% !important
  padding-right 6% !important

.beneficios
  position relative
  padding-bottom 50px
  margin-top 40px

  .sub-text
    
    h2
      font-size 24px
      color #5bba46
      font-family 'Effra',Sans-Serif

     p
      font-size 18px
      color #45484e
      font-family 'Effra',Sans-Serif 
      padding 0 14.5% 

  .title
    margin-bottom 60px
        
    h2
      color #70af3e
      font-size 60px
      font-family 'Josefin-Regular',Sans-Serif  

    p
      font-size 22px
      font-family 'Josefin-Regular',Sans-Serif
      
    span
      background-color #324e85
      color #ffffff
      cursor pointer
      display block
      font-family 'Josefin-SemiBold',Sans-Serif
      font-size 22px
      height 60px
      line-height 25px
      padding 0
      position absolute
      right -6.7%
      text-align left
      top 30px 
      width 233px

  .b-details
    font-size 14px
    padding 0

    p
      font-family 'Roboto-Light',Sans-Serif
      font-size 17px
      color #000000
    strong
      color azul
      font-size 20px
      
        
      
      span
        font-family 'Effra',Sans-Serif
        font-size 17px
        color #1771ce
        display inline-block
        width 100%
        color #061f5c

    figure
      height 160px  

.foraneos-df
  background-image url('../img/df/header-df.png')
.foraneos-gdl
  background-image url('../img/gd/header.png')
.foraneos-mty
  background-image url('../img/mt/header.png')
.foraneos-pue
  background-image url('../img/pu/header.png')
.foraneos-qro
  background-image url('../img/qr/header.png')
.modal-dialog
  width 60% !important

  .enviar
    background-color #22417C
    color #FFFFFF
    display block
    height 40px
    width 90px
    display inline-block
    vertical-align top
    margin-left 10px

  .email-modal
    width 80%
    display inline-block
    vertical-align top
    margin-left 10px
    font-family 'Josefin-Regular',Sans-Serif
    font-size 20px
    
.terms
  
  p
    font-size 16px
    font-family 'Josefin-Regular',Sans-Serif
    margin-bottom 40px

.mensaje_error
  font-size 12px
  font-family 'Josefin-Regular',Sans-Serif
  color red

.noexiste
  color red

.wrapper
  margin 0 auto      
  max-width 1280px
  width 100%
  min-height 200px

.more
  
  ul
    
    li
      display inline-block
      width 50%  

.title-form
  color #000
  font-family 'Conv_Roboto-Regular',Sans-Serif    
  font-size 20px  
  display inline-block
  width 100%

.sub-form
  color #192857     
  font-family 'Effra',Sans-Serif
  font-size 34px
  display inline-block
  width 100%

#form_landing 
  
  input
    width 100%
    border 0
    background-color #efeeee
    color #000
    margin-top 10px
    padding 5px
   
  input[type='submit']  
    background-color #192857
    color #fff
    width 90px
    float right
    padding 5px
    margin-right 5px

  select
    width 100%
    border 0
    background-color #efeeee
    color #000
    margin-top 10px 
    padding 5px 0

  label
    color red   
#colorbox
  
  .container
    display inline    

#tm-formulario-legal 

  .submit 

    input    
      background-color #192857 !important  

.contact
  padding 90px 0 35px 0
  background-color #d1d1d1
  font-size 14px

  .title
    padding-left 0

    p
      font-size 50px
      color #000000
      font-family 'Effra',Sans-Serif
      padding-right 17%

    span
      color #22417c      
/* media queries*/

@media (min-width: 481px) and (max-width: 768px)
    #comm100-float-button-2
      background-size contain !important
      display block !important
      max-height 80px !important
      left 50% !important
      top 60px !important
      width 50% !important
      background-image url('../img/Boton-chat-m.png') !important
      height 100% !important
      z-index 100 !important

    .wrapper
      max-width 768px
      width 100%    
      min-width 481px

    header
      margin-top 60px 

      .logo
        height auto
        background-color #FFFFFF
        top 0
        position fixed
        z-index 100

        img
          height 60px
          top 0

      .description
        padding-top 120px
        
        h1 
          
          font-size 38px
          line-height 60px
        
        p
          font-size 25px  
          line-height 25px  
          padding-right 0

      .link
        background-image url('../img/Boton-informacion-m.png') !important
        background-size contain
        background-repeat no-repeat
        display block
        height 100%
        max-height 80px
        padding 0
        position fixed
        top 60px
        z-index 100

        img
          width 100%

    .beneficios
      margin-bottom 30px
      padding-left 0
      text-align left

      .title
        padding 0
        text-align left
        margin-bottom 30px

        h2
          display inline-block
          margin-left 0
          padding-left 0
          padding-right 10px
          font-size 30px

        p
          display inline-block  
          

      .b-details
        
        figure
          display inline-block          
         
        p
          display inline-block
          text-align left 
          padding-top 15px

          span 
            margin-bottom 15px
    
    footer
      
      section
        padding 10px !important  
      
      .nets
        padding 0

        img
          width 25px

      p
        vertical-align middle !important
        padding-left 10px
        
        a
          font-size 15px

    .more      
      text-align right
      padding-right 5px
        
          
@media (min-width: 320px) and (max-width: 480px)
  .wrapper
    min-width 240px !important

  #comm100-float-button-2
      background-size contain !important
      display block !important
      max-height 80px !important
      left 0% !important
      top 124px !important
      width 100% !important
      background-image url('../img/Boton-chat-m.png') !important
      height 100% !important
      z-index 100 !important

    .wrapper
      max-width 768px
      width 100%    
      min-width 481px

    header
      margin-top 60px 
      background-size contain !important
      height 109px !important

      .logo
        height auto
        background-color #FFFFFF
        top 0
        position fixed
        z-index 100

        img
          height 60px
          top 0
          left -90px

      .description
        padding-top 20px 0px 0 0
        width 90%
        display none
        
        h1 
          font-size 30px
          line-height 33px
          margin-top 0
        
        p
          font-size 20px  
          line-height 17px  
          padding-right 0

      .link
        background-image url('../img/Boton-informacion-m.png') !important
        background-size contain
        background-repeat no-repeat
        display block
        height 100%
        max-height 80px
        padding 0
        position fixed
        top 60px
        z-index 100
        width 100%

        img
          width 100%

    .beneficios
      margin-bottom 30px
      padding-left 0
      text-align left

      .sub-text
        
        p
          padding 0

      .title
        padding 0
        text-align left
        margin-bottom 30px

        h2
          display inline-block
          margin-left 0
          padding-left 0
          padding-right 10px
          font-size 30px
          width 100% !important

        p
          display inline-block  
          width 100%

      .b-details
        
        figure
          display inline-block  
          width 100%        
         
        p
          display inline-block
          text-align left 
          padding-top 0px
          width 100%

          span 
            margin-bottom 15px
    
    footer
      
      section
        padding 10px !important  
      
      .nets
        padding 0

        img
          width 25px

      p
        vertical-align middle !important
        padding-left 10px
        
        a
          font-size 15px

    .more      
      text-align right
      padding-right 5px

    .description2 
      width 480px
      background-color #192857
      display inline-block !important
      padding 10px
    
    .description2 h1 
      color #fff
      font-family 'Josefin-Regular', Sans-Serif
      font-size 35px
      line-height 60px
      margin 0
      display inline-block
  
    .description2 p 
      color #fff
      font-family 'Josefin-Regular', Sans-Serif
      font-size 20px
      padding 10px 50px 0 0
      display inline-block

    .title-form
      color #000
      font-family 'Conv_Roboto-Regular',Sans-Serif    
      font-size 30px  
      display inline-block
      width 100%

    .sub-form
      color #192857     
      font-family 'Effra',Sans-Serif
      font-size 44px
      display inline-block
      width 100%

    #form_landing 

      input
        width 100%
        border 0
        background-color #efeeee
        color #000
        margin-bottom 10px  
        height 30px
        padding 3px

      input[type='submit']  
        background-color #192857
        color #fff
        width 60px
        float right

      select
        width 100%
        border 0
        background-color #efeeee
        color #000
        margin-bottom 10px
        height 26px
        padding 3px

    #colorbox
      top 969px !important
      left 6% !important
      height auto !important
      width 422px !important

    #cboxWrapper  
      height auto !important
      width 422px !important

    #cboxLoadedContent
      height auto !important
      width 422px !important

    #tm-formulario-legal
      height auto !important
      width 422px !important
      background-color #fff !important
      color #000 !important

    #cboxContent
      height auto !important
      width 422px !important    

         
