.prenav{width: 100%; height:60px; margin-bottom:7px; }
header.headcontainer{ position:fixed; box-shadow: 0px 1px 3px 1px #888888; width: 100%; height: 66px;z-index: 20; background-color: #ffffff;}
/*nav *{border: solid 1px #ebebeb;}*/
nav{height: 66px;  float: right;}
nav a{ font-size: 16px; color: #000000;}
nav a:hover{background-color:#2DB232; color:white;}
nav:first-child ul{width: 100%; position:relative; right:0;}
/*primer nivel*/
nav ul li{
	float:left;
	width: 170px;
	height: 66px;
	display: inline-block;
}
nav ul li a{ display: block; width: 100%; height: 100%; text-align: center; padding-top: 20px;}
nav ul li a:hover {text-decoration: none;}
nav ul li ul {width: 60%; position: relative;}
/*segundo nivel*/
nav ul li:hover > ul.sub-menu li ul {display: block}
/*tercer nivel*/
nav ul li ul li ul li{
	height: 20px;
	
	}
#menu-item-14 ul {display: none;}
#menu-item-15 ul {display: none;}
#menu-item-20 ul{display: none;}
#menu-item-21 ul {display: none;}
#menu-item-4325 ul {display: none;}

.logo-tmp{
	float: left;
	width: 14%; 
	min-height: 65px; 
	background: url('../img/universidad-tecmilenio.gif') center 0  no-repeat;
	background-size: 100%;
	}
.sub-menu{width: 650px; background-color: #b8b8b8; 	height: 300px; position: absolute; top: 23px;}
.menu-item-has-children{border-right: 1px #000000 dotted;}
/**/
.search-box{display: inline-block; width: 100px; color:#b8b8b8;font-size: 25px;text-align:center;
float: right;height: 66px; top: 0;}
.search-box > .glyphicon{top: 20px;}
.search-box:hover{background-color: #2DB232; color: #ffffff; }
.active{background-color: #2DB232; color: #ffffff; }
.search-visible{display: none; background-color: #2DB232;width: 100%; height:30px; position: absolute;top: 66px;text-align: right;}
.search-box:hover .search-visible{display:block; }
.search-visible input{ width:170px;margin-right: 100px;font-size: 13px; color:#ffffff; height: 25px; background-color: transparent; border-bottom: dotted 1.5px #ffffff; border-top: none; border-left: none; border-right: none;
-webkit-transition: width ease .2s;
-moz-transition: width ease .2s;
-ms-transition: width ease .2s;
-o-transition: width ease .2s;
transition: width ease .2s;}
.search-visible input:focus{
width: 250px;
border-bottom: dotted 1px #ffffff; }
.search-visible button{display: none;}
ul.sub-menu{background-color: #2DB232;width: 100%; height:30px; position: absolute;top: 66px;text-align: right;}



/* glyphicons */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {position: relative;top: 1px;display: inline-block;font-family: 'Glyphicons Halflings';font-style: normal;font-weight: normal;line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-search:before {
  content: "\e003";
}