@media screen  and (max-width: 768px) {
.wrapper{
	/*position:absolute;
	top: 140px;*/
	z-index: 0;
}
.hide-menu{
	display:  none;
}
	#footer{
		display: none !important;
	}
.rp-mobile{
	background-color: #fff;
	position:  absolute;
	z-index: 999;
	width: 100%;
	height: 89px;
	top:0px;
}
.logo-rp{
	width: 38%;
	display: inline-block;
	vertical-align: top;
	max-height: 89px;
	min-width: 180px;
}
/*variables*/
.blue-responsive{
	color      :#0072d2;
	margin-left:  25%;
	text-align : left;
}
.green-responsive{
	color      :#5bba46 !important;
	text-align : left;
	margin-left:  25%;
}
	.green{
	color: #5bba46 !important;
}
.header-container, #footer-show{
	display: none;
}
.description2{
	width:100% !important;
}
#menu-rp {
	background-color: #40b54c;
	height: 89px;
	width: 68px;
	text-align: center;
	display: inline-block;
}
#menu-rp .bars-menu-rp:first-child{ margin-top:28px;}
#menu-rp .bars-menu-rp{
	background-color: #ffffff;
	width: 40%;
	height: 5px;
	margin:auto auto 3px;
	-webkit-transform: 2s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
    transition: all .2s;
}
#menu-rp:hover > .bars-menu-rp{
	width: 50%;
	margin-bottom: 4px;
}
#menu-dropdown{
	background-color:#fff;
	position        : absolute;
	width           :101%;
	z-index         :1;
	margin-top: 0px;
}
#menu-dropdown a{
	text-decoration:  none;
}
.sub-nav{
	background-color: #5bba46;
	height          : 30px;
	text-align      : right;
	width           : 100%;
}
	.back-last{
		text-align:  right;
		width     : 100%;
	}
		.back-item{
			color       :#fff;
			display     : inline-block;
			font-size   : 4vw;
			margin-right: 30px;
			position    : relative;
			top         : 5px;
		}
			.back-item:before{
				content     : url('img/back.png');
				margin-left : -30px;
				top:1px;
				padding-left: 10px;
				position    : absolute;
			}
			.back-item:before:nth-of-type(2){
				border-left : 1px solid #FFF;
				content     : url('img/back.png');
				margin-left : -30px;
				padding-left: 10px;
				position    : absolute;
			}
	.sub-nav h1{
		text-align:  center;
		font-size: 6vw !important;
	}

#conoce-dropdown, #oferta-dropdown, #campus-dropdown, #admisiones-dropdown, #alumnos-dropdown, #egresados-dropdown, #profesores-dropdown{
	background-color  :#fff;
	color:#0072d2 !important;
	display           :none;
	height            :100%;
	position          :fixed;
	width             :100%;
	z-index           :1;
	-moz-box-shadow   :    7px 2px 7px 0px rgba(0, 0, 0, 0.68);
	-webkit-box-shadow: 7px 2px 7px 0px rgba(0, 0, 0, 0.68);
	box-shadow        :         7px 2px 7px 0px rgba(0, 0, 0, 0.68);
}
#campus-dropdown .text-content span, #conoce-dropdown .text-content span,  #oferta-dropdown .text-content span, #admisiones-dropdown .text-content span {
	border-left: #0072d2 solid 8px;
	margin-right:30px;
	font-size:  10vw;
	vertical-align: middle;
}
#alumnos-dropdown .text-content span, #egresados-dropdown .text-content span{
	border-left: #5bba46 solid 8px;
	margin-right:30px;
	font-size:  10vw;
	vertical-align: middle;
	}
#tercer-dropdown, #admisiones2-dropdown, #admisiones3-dropdown, #admisiones4-dropdown, #conoce2-dropdown, #conoce3-dropdown, #conoce4-dropdown{
	background-color:#fff;
	color           :#0072d2 !important;
	display         :none;
	height          :100%;
	position        :fixed;
	width           :100%;
	z-index         :1;
	-webkit-box-shadow: 7px 2px 7px 0px rgba(0, 0, 0, 0.68);
	-moz-box-shadow:    7px 2px 7px 0px rgba(0, 0, 0, 0.68);
	box-shadow:         7px 2px 7px 0px rgba(0, 0, 0, 0.68);
}
a{
	text-decoration:none;
}
.list-part{
	border-bottom: 1px solid grey;
	height       : 60px;
	position     :relative;
	text-align   :left;
	width        : 100%;
}
.text-content p{
	font-size    : 6vw !important;
	margin-bottom:0px;
	width        :100%;
	position: absolute;
	top: 10px;
	}
.text-content {
	margin-top: 10px;
	width     : 100%;
}
.text-content small{
	font-size  : 4vw !important;
	margin-left: 25%;
	margin-top :0px;
} 

.conoce:after, .oferta:after, .admisiones:after, .campusf:after, .alumnos:after, .egresados:after, .profesores:after, .contacto:after, .arrow-select:after{
	content :url('img/arrow.png');
	display :inline-block;
	position:absolute;
	right   : 10px;
	top     : 14px;
}
.arrow-select p, .last-arrow{
	left    :5%;
	color   :#0072d2;
	position: absolute;
	top     : 5px;
}
.last-arrow:after{
	display :inline-block;
	position:absolute;
	right   : 10px;
	top     : 14px;
}
.conoce:before{
	content :url('img/conoce.png');
	display :inline-block;
	left    :10px;
	position:absolute;
	top     :5px;
}
.oferta:before{
	content :url('img/oferta.png');
	display :inline-block;
	left    :10px;
	position:absolute;
	top     :-1px;
}
.admisiones:before{
	content:url('img/adminsiones.png');
	display:inline-block;
	position:absolute;
	left:10px;
	top:-1px;
}
.campusf:before{
	content :url('img/campus.png');
	display :inline-block;
	left    :10px;
	position:absolute;
	top     :-1px;
}
.alumnos:before{
	content :url('img/alumnos.png');
	display :inline-block;
	left    :10px;
	position:absolute;
	top     :-1px;
}

.egresados:before{
	content :url('img/egresados.png');
	display :inline-block;
	left    :10px;
	position:absolute;
	top     :-1px;
}
.profesores:before{
	content :url('img/profesores.png');
	display :inline-block;
	left    :10px;
	position:absolute;
	top     :-1px;
}
.contacto:before{
	content :url('img/contacto.png');
	display :inline-block;
	left    :10px;
	position:absolute;
	top     :-1px;
}
header{
	margin-top: 0px !important;
}
h1{
	font-size: 7vw !important;
}
}
@media screen and (min-width: 480px) {
#header{
	background-position: 50%;
	background-size    :cover;
}
.hide-menu{
	display:  none;
}
#scroll-menu{
	height    : 90% !important;
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	z-index   : 21;
}

}



/*extra sheet*/
#footer{
  z-index: 60;
}
.pin-frame{
  bottom: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#footer.pin-frame{
  height: 45px; /* 385 */
  overflow: hidden;
  background-image: url('http://tecmilenio.mx/wp-content/themes/tecmilenio/img/home/footer-bg.png');
  background-position-y: 0%;

}

#footer.pin-frame .content{
  /* display: none; */
}



#footer{
  font-family: arial, sans-serif;
  font-size: 11px;
}

#footer .list{
  float: left;
  width: 165px;
}

#footer .list ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer .list h3{
  font-size: 12px;
  color: #4db844;
}

#footer .group:first-child .list h3{
  color: #26abe3;
}

#footer .list a{
  color: #fff;
  text-decoration: none;
  line-height: 2em;
}

#footer .group{
  float: left;
  width: 500px;
  height: 300px;
}

#footer .group:last-child{
  width: 170px;
}

#footer .group:first-child{
  background: url('http://tecmilenio.mx/wp-content/themes/tecmilenio/img/home/group-separator.png') no-repeat  465px 14px;
}

#footer .group:first-child .list:last-child{
  margin-left: 165px;
}

#footer .group:nth-child(2){
  background: url('http://tecmilenio.mx/wp-content/themes/tecmilenio/img/home/group-separator.png') no-repeat  465px 14px;
}


#footer .content{
  margin: 0 auto;
  padding-top: 30px;
  width: 1200px;
}

#footer .legal{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: #292929;
  color: #fff;
}

#footer .legal p{
  position: relative;
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  font-size: 11px;
  line-height: 4em;
}

#footer .legal strong{
  text-transform: uppercase;
  color: #4db844;
}

#footer .legal p .mapa{
  position: absolute;
  left: 50px;
  color: #4db844;
  text-decoration: none;
}

#footer .legal p .mapa span{
  color: #fff;
}

#footer .legal p .siguenos{
  position: absolute;
  top: 10px;
  right: 0px;
}
.logo-rp{display:none;}

@media screen and (max-width: 1200px) and (min-width:769px){
	body{overflow-x:hidden;}
	.rp-mobile{display: none;}
	nav.nav {
		left    : 23% !important;
		position: absolute;
		top     : 0px !important;
		width   : 77% !important;
	    }
	nav.nav ul li a {font-size: 1.6vw !important;}
	#menu-item-image{display: none;}
	#secondary-menu-container {
		left    : 7% !important;
		position: absolute !important;
		top     : 50px !important;
		width   : 70% !important;
	}#secondary-menu-container ul li a {font-size: 1.5vw !important;}
	#header-search {
		right: 2% !important;
		position: absolute !important;
		top     : 49px !important;
	}
	.header-container{height: 90px;}
	.header{width: 100% !important; height: 90px;}    
	header .logo img { max-width: 90%; }
	#footer .legal p{width: 100%; font-size: 1.2vw; margin-left: -3%;}
	#footer .legal p .mapa{margin-right: -5px; }
	/**-menu responsivo sin imágenes */

	nav.nav ul.campus {width: 830%;left: -500%;padding: 14px 0px;}
	nav.nav ul.oferta-ed {width: 450px;height: 170px;padding: 15px 20px;left: -126px;}
	nav.nav ul.oferta-ed li {width: 450px;}
	nav.nav ul.conoce-tec {width: 860px;left: -175px;padding: 25px 35px;}
	nav.nav ul.conoce-tec li ul.conoce-tec-content-titles { height: 23px; margin: 3px 0px 0px 5px;}
	nav.nav ul.conoce-tec li ul.conoce-tec-content-titles li {width: 30%;}
	nav.nav ul.campus li {float: left;width: 50%;text-align: left;padding: 0px;}
	nav.nav ul.campus li ul.campus-content {height: 300px;margin: 10px 0px 0px 50px; 
		column-count: 2;
		-o-column-count: 2;
		-ms-column-count: 2\9;
		-moz-column-count: 2;
		-webkit-column-count: 2;}
	nav.nav ul.proceso-ad li {width: 85%;float: left;text-align: left;padding: 0px;}
	nav.nav ul.proceso-ad { width: 600%; left: -430%; padding: 15px 0px;}
    nav.nav ul.contacto-ad {width: 200%;height: 170px;padding:15px 0px;left: -50%;}
    nav.nav ul.contacto-ad li:first-child {width: 90%;}
    nav.nav ul.contacto-ad li {width: 90%;}

}
@media screen and (min-width:1201px){
	.social_header{margin-top: 0px;}
	.logo {top: 0px !important;}
	#secondary-menu-container {width: 55%;}

}